<link rel="stylesheet" href="/css/style.css">
   

    
    
    <div class="sign-form">
        
        <form action="/users/create-session" method="post">
            <h1>Login</h1>
            <input type = "text" name="email" placeholder = "Phone or Email" required>
            
            <input type="password" placeholder="Password" name="password" required>
            <div class="Forgotten">
             <a href="#">Forgotten password?</a>
            </div>
            <div class="buttons">
                <button type="submit" class="btn">LOGIN</button>
            </div>
            
            <div class="auth">
              <a href="/users/auth/google">google sign in/sign-up</a>
            </div>        
            <div class="auth">
                <a href="/users/auth/facebook">Facebook sign in/sign-up</a>
              </div>           
        </form>
        
    </div>
    
    
  
 
     
 

    
</body>
</html>